* {
    box-sizing: border-box;
}

.taskboard {
    height: 100vh;
    padding: 20px;

    display: flex;
    justify-content: space-between;
}

.swimlane {
    height: 100%;
    width: calc(25% - 20px);

    padding: 20px;

    border: 1px black solid;
    text-align: center;
}

.swimlane .title {
    font-weight: bold;
    font-size: 1.25em;
}

.swimlane .add-task-button {
    margin: 10px 0;
}

.swimlane.backlog {
    background-color: grey;
}

.swimlane.todo {
    background-color: red;
}

.swimlane.in-progress {
    background-color: yellow;
}

.swimlane.completed {
    background-color: green;
}

.task-card {
    width: 100%;

    padding: 20px;
    margin: 1em 0;

    background-color: white;
    border: 1px solid black;

    display: flex;
    justify-content: space-between;
}
